*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
}

body{
    background-color: #000;
    font-family: sans-serif;
    color: white;
}

#frame1{
    height: 100vh;
    width: 100vw;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
#left{
    height: 100%;
    width: 35vw;
    border-radius: 10px;
    font-weight: bold;
    /* background-color: #121212; */
}
#left nav{
    height: 15vh;
    width: 100%;
    border-radius: 10px;
    background-color: #121212;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 2.2vh;
    color: white;
    padding: 8px;
}
#left nav div i, #library div i{
    margin-right: 15px;
    margin-left: 15px;
}

#left #library{
    height: 83.5%;
    width: 100%;
    border-radius: 10px;
    background-color: #121212;
    margin-top: 8px;
    padding: 8px;
}

#playlists{
    height: 87%;
    width: 100%;
    margin-top: 10px;
    overflow: scroll;
    margin-left: 7px;
}
#playlists::-webkit-scrollbar{
    display: none;
}

#search-bar{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#search-bar-inner{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
}

#search-bar div:nth-child(2){
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#search-bar i{
    font-size: 20px;
}
#search-bar input{
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid gray;
    padding: 8px;
    color: white;
    border-radius: 8px;
}

#right{
    height: 100%;
    width: 100%;
    background-color: #121212;
    border-radius: 10px;
    overflow: scroll;
}
#right::-webkit-scrollbar{
    display: none; 
}
#library #library-nav{
    height: 50px;
    color: rgb(160, 158, 158);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5vh;
}

.playlist-item{
    color: white;
    height: 70px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.playlist-item img{
    height: 90%;
    width: 70px;
    object-fit: cover;
    border-radius: 10px;
}
.playlist-item div{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.playlist-item span:nth-child(1){
    color: white;
}
.playlist-item span:nth-child(2){
    font-size: 12px;
    color: rgb(161, 157, 157);
}

#right nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
}
#right nav div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#right nav div i{

    height: 36px;
    width: 36px;
    background: rgb(19, 19, 19);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-playlists{
    margin-top: 16px;
    padding: 16px;
}
#top-playlists-items{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three equal columns */
    gap: 8px; 
}
.top-playlists-item{
    position: relative;
    color: white;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    background-color: #32353a;
}
.top-playlists-item:hover{
    background-color: #45484c;
}
.top-playlists-item:hover .playButton{
    display: flex;
}
.playButton{
    transition: .1s;
    display: none;
    position: absolute;
    right: 10px;
    background: rgb(22, 173, 22);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: #000;
    cursor: pointer;
}
.top-playlists-item img{
    height: 100%;
    width: 50px;
    object-fit: cover;
    border-radius: 4px 0 0 4px;
}
.top-playlists-item .top-playlists-items-text{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.top-playlists-item span:nth-child(1){
    color: white;
    font-weight:bolder;
    font-size: 14px;
}
.top-playlists-item span:nth-child(2){
    font-size: 12px;
    color: rgb(161, 157, 157);
}
#made-for-user{
    margin-top: 8px;
    padding: 16px;
}
#made-for-user h1{
    margin-bottom: 18px;
}

#made-for-user-items{
    display: flex;
    align-items: center;
    justify-items: center;
    /* overflow: scroll; */
}

.made-for-user-item{
    /* height: 250px; */
    flex-shrink: 0;
    width: 200px;
    background: #2a2e35;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}
.made-for-user-item img{
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 8px;
}
.made-for-user-item div p{
    margin-top: 8px;
    color: gray;
}